<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Laralink">
  <!-- Site Title -->
  <title>Movie Booking Invoice</title>
  <title>Grow Invoice Template</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <%- include('styleTag.ejs') %>
</head>

<body>
  <div class="tm_container">
    <div class="tm_invoice_wrap">
      <div class="tm_invoice tm_style1 tm_type1" id="tm_download_section">
        <div class="tm_invoice_in">
          <div class="tm_invoice_head tm_mb15 tm_align_center">
            <div class="tm_invoice_left">
              <div class="tm_logo"><img src="assets/img/logo.svg" alt="Logo"></div>
            </div>
            <div class="tm_invoice_right tm_text_right tm_mobile_hide">
              <div class="tm_f50 tm_text_uppercase tm_white_color">Invoice</div>
            </div>
            <div class="tm_shape_bg tm_accent_bg tm_mobile_hide">
              <img src="/public/assets/img/header_bg.jpeg" alt="">
            </div>
          </div>
          <div class="tm_invoice_info tm_mb25">
            <div class="tm_card_note tm_ternary_color"><a href="#" class="tm_medium">www.invomacineplex.com</a></div>
            <div class="tm_invoice_info_list tm_white_color">
              <p class="tm_invoice_number tm_m0">Invoice No: <b>#LL93784</b></p>
              <p class="tm_invoice_date tm_m0">Date: <b>01.07.2022</b></p>
            </div>
            <div class="tm_invoice_seperator tm_accent_bg">
              <img src="assets/img/header_bg_2.jpeg" alt="">
            </div>
          </div>
          <div class="tm_invoice_head tm_mb20">
            <div class="tm_invoice_left">
              <p class="tm_mb2"><b class="tm_primary_color">Purcheser Info:</b></p>
              <p>
                <b class="tm_primary_color tm_medium">Name:</b> Jhon Doe <br>
                <b class="tm_primary_color tm_medium">Email:</b> jhondoe@gmail.com<br>
                <b class="tm_primary_color tm_medium">Phone:</b> +99-152-287-213<br>
                <b class="tm_primary_color tm_medium">Address:</b> 84 Spilman Street, London
              </p>
            </div>
            <div class="tm_invoice_right tm_text_right">
              <p class="tm_m0_md">
                <b class="tm_primary_color tm_f16">Invoma Cineplex</b> <br>
                86-90 Paul Street, London<br>
                England EC2A 4NE <br>
                demo@gmail.com <br>
                +99-879-213-256
              </p>
            </div>
          </div>
          <div class="tm_table tm_style1">
            <div class="tm_border_top">
              <div class="tm_table_responsive">
                <table>
                  <thead>
                    <tr>
                      <th class="tm_width_6 tm_semi_bold tm_primary_color">Item</th>
                      <th class="tm_width_2 tm_semi_bold tm_primary_color">Price</th>
                      <th class="tm_width_2 tm_semi_bold tm_primary_color">Qty</th>
                      <th class="tm_width_2 tm_semi_bold tm_primary_color tm_text_right">Total
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="tm_width_6">
                        The Batman <br>
                        <b class="tm_medium tm_primary_color">22 July 2022 at 2.30pm - General
                          Seat</b>
                      </td>
                      <td class="tm_width_2">$100</td>
                      <td class="tm_width_2">2</td>
                      <td class="tm_width_2 tm_text_right">$200</td>
                    </tr>
                    <tr>
                      <td class="tm_width_6">
                        The Rise of Gru <br>
                        <b class="tm_medium tm_primary_color">22 July 2022 at 2.30pm - General
                          Seat</b>
                      </td>
                      <td class="tm_width_2">$100</td>
                      <td class="tm_width_2">2</td>
                      <td class="tm_width_2 tm_text_right">$200</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="tm_invoice_footer tm_border_top">
              <div class="tm_left_footer tm_padd_left_15_md">
                <p class="tm_mb2"><b class="tm_primary_color">Payment info:</b></p>
                <p class="tm_m0">Jhon Doe <br>Credit Card - 236***********928 <br>Amount: $440</p>
              </div>
              <div class="tm_right_footer">
                <table class="tm_mb30 tm_m0_md">
                  <tbody>
                    <tr class="tm_gray_bg ">
                      <td class="tm_width_3 tm_primary_color tm_bold">Subtoal</td>
                      <td class="tm_width_3 tm_primary_color tm_bold tm_text_right">$400</td>
                    </tr>
                    <tr class="tm_gray_bg">
                      <td class="tm_width_3 tm_primary_color">Tax <span class="tm_ternary_color">(10%)</span></td>
                      <td class="tm_width_3 tm_primary_color tm_text_right">+$40</td>
                    </tr>
                    <tr class="tm_primary_bg">
                      <td class="tm_width_3 tm_border_top_0 tm_bold tm_f16 tm_white_color">Grand
                        Total </td>
                      <td class="tm_width_3 tm_border_top_0 tm_bold tm_f16 tm_white_color tm_text_right">
                        $440</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="tm_padd_15_20 tm_border">
            <p class="tm_mb5"><b class="tm_primary_color">Terms of Use</b></p>
            <ul class="tm_m0 tm_note_list">
              <li>Your privacy is important to us. The Cineplex Privacy Policy is incorporated into these
                Website Terms by reference the “Privacy Policy”.</li>
              <li>Your use of the Website shall be deemed to constitute your understanding and approval
                of, and agreement to be bound by, the Privacy Policy and you consent to the collection,
                use and disclosure of your personal information by Cineplex.</li>
            </ul>
          </div><!-- .tm_note -->
        </div>
      </div>

    </div>
  </div>
</body>

</html>